version: '3.8'
services:
  web:
    build: .
    container_name: flask_pgvector_shop_web
    command: python app.py
    ports:
      - "5555:5555"
    env_file:
      - .env.production
    networks:
      - appnet
networks:
  appnet:
    external: true
